html { height: 100%; }

#header {
  position: absolute;
  top:0px;
  height: 50px;
}

#content {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 50px;
  bottom: 50px;
}

#footer {
    position:absolute;
    height: 50px;
    bottom: 0px;
}

#textbox {
    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
}

.red {
    color:red;
}

.electroNote_button {
    text-decoration: none;
}

.draggable{
    -webkit-app-region: drag;
    -webkit-user-select: none; /*makes sure the text on this part isn't selectable*/
}
