html,body { height: 100%; overflow:hidden;  }

#header {
  position: absolute;
  top:0px;
  width:100%;
  height: 45px;
}

#content {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 45px;
  bottom: 30px;
}

#footer {
    position:absolute;
    height: 30px;
    bottom: 0px;
}

#textbox {
    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
}

#handle-button{
    float:left;
}
#close-button{
    float:right;
}

#note-title{
    overflow:hidden;
    text-overflow: ellipsis;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.electroNote_button {
    display:block;
    float:left;
    text-decoration: none;
    width:50px;

    padding-left:5px;
    padding-right:5px;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.draggable{
    -webkit-app-region: drag;
    -webkit-user-select: none; /*makes sure the text on this part isn't selectable*/
}
